<h1>Stupid Coaching</h1>

<h2>
  <div class="banner">
    <p1><%= @question %> -You</p1>
  </div>

  <div class="banner">
    <p2><%= @answer %> -Your coach</p2>
  </div>
</h2>
<a> <%= link_to "Ask a new question", ask_path %> <a/>

